* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:dimgrey;
}

/* start header */
.header {
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
    background-color:cadetblue;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
  
.header nav a:hover {
    background-color:darkgray;
  }

a {
    color:#ffffff;
    text-decoration: none;
}

p {
    font-size: 16px
}
/* end header */

/* start hero */
.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/heroimage-avatar.jpg");
    background-size: cover;
    background-position: center;
}
/* end hero */

/* content section */
.content h2 {
    text-align: left;

}

.content {
    display:flexbox;
    flex-wrap: wrap;
    margin-left: 20px;
}

.content-attributes {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(199, 219, 226);
    color:black;
}

p {
    text-align: center;
    justify-content: space-evenly;
    padding: 50px;
}

.work-attributes {
    margin-bottom: 20px;
    padding: 50px;
    height: 1000px;
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(199, 219, 226);
    color:black;
}

.project {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card1 {
    padding: 5px;
    flex: 0 0 300px;
    margin: 10px;
    text-align: center;
  }

.card1 img {
      width: 1000px;
      height: 500px;
  }

.card1 a:hover {
    background-color:darkgray;
  }

.card1 header {
    font-weight: bold;
}
  
.card {
    display:inline-block;
    text-align: center;
    padding: 5px;
    flex: 0 0 300px;
    margin: 10px;
  }

.card img {
    width: 500px;
    height: 250px;
}

.card header {
    font-weight: bold;
}

.footer{
    padding: 20px;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#ffffff
}




@media screen and (max-width: 768px) {
    main,
    nav {
        flex-direction: column;
    }
}
