* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:black;
    display: flex;
    flex-direction: column;
    line-height: 2;
}

/* start header */
.header {
    display: flex;
    position: sticky;
    width: 100%;
    top:0;
    z-index:10;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(40, 40, 40);
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
    margin-left: 40px;
}

.header nav {
    padding-top: 15px;
    margin-right: 40px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.header nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 45px;
}
  
.header nav a:hover {
    color:darkgray;
  }

a {
    color:#ffffff;
    text-decoration: none;
}

p {
    font-size: 16px
}
/* end header */

/* start hero */
.hero {
    height: auto;
    min-height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/heroimage-avatar.jpg");
    background-size:cover;
}
/* end hero */

/* content section */


.content h2 {
    text-align: left;
    color:rgb(40, 40, 40);
    font-size: 25px;
}

.content-attributes {
    margin-bottom: 20px;
    padding: 50px;
    min-height: 300px;
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(173, 173, 173);
    color:black;
}

p {
    text-align: center;
    padding: 50px;
}

.work-attributes {
    margin-bottom: 20px;
    padding: 30px;
    min-height: 1000px;
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(173, 173, 173);
    color:black;
    text-align: center;
}

.card1 {
    padding: 5px;
    margin: 10px;
    text-align: center;
  }

.card1 img {
    width: auto;
    height: auto;
    max-width: 1000px;
    max-height: 500px;
  }

.card1 a:hover {
    background-color:darkgray;
  }

.card1 header {
    font-weight: bold;
}
  
.card {
    display:inline-block;
    text-align: center;
    padding: 5px;
    margin: 10px;
  }

.card img {
    width: 500px;
    height: 250px;
}

.card header {
    font-weight: bold;
}

.contact-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(173, 173, 173);
    color:black;
}

.contact-me p {
    text-align: center;
    padding: 50px;
}

.table {
    justify-content: center;
    border-collapse: separate;
    border-spacing: 0 15px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

th {
    width: 300px;
    text-align: center;
    padding: 5px;
}

.table a:hover {
    color:darkgray;
  }

.footer{
    position:fixed;
    max-height: 70px;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(40, 40, 40);
    color:#ffffff;
}

.footer p {
    text-align: center;
    padding: 20px;
}

/* media query */
@media screen and (max-width: 1024px) {
    body {
        background-color:rgb(121, 118, 118);
    }
    
}
